/*universal selector*/
*universal selector*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
} /*universal selector*/

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    color: white;
    z-index: 2;
    transition: 0.8s;

}


.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 10px;
    cursor: pointer;
    font-size: 23px;
    font-weight: 750;
    line-height: 1em;
    text-transform: uppercase;
}



 .showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85.3%;
    object-fit: cover;
    opacity: 0.4;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85.3%;
    background: rgb(0, 0, 0, 0.5) ;
}

.text{
    position: relative;
    z-index: 10;
}

.text h2{
    font-size: 4em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3{
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}


    .text h2{
        font-size: 3em;
    }

    .text h3{
        font-size: 2em;
    }

}

.card{
    padding-left:100px;
}

.card-body{
    background-color: black;
}
.row1{
    margin-top: -20px;
}
.row2{
    display: flex;
    margin-top: -20px;
}
.OL{
    border: 3px solid white;

}


.text p{
    font-size: 2em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.paperlist div .plist p{
    padding-top: 20px;
    padding-bottom: 20px;

}
.grade9{
    margin-top: 60px;
    border: 2px solid white;

}
.grade9 .card{
    margin-right: 20px;
}
.grade9 .row2{
}
.grade8{
    border: 2px solid white;
}

}
.grade7{
    border: 2px solid white;

}
.grade6{
    border: 2px solid white;

}
@media only screen and (max-width : 1200px){
    .card{
        width: 100%;
        border: 1px solid white;
    }
}
@media only screen and (max-width : 1150px) {
    .OL.card{
        height: 300px;
        width: 90px;
        border: 1px solid white;

    }
    .row1{
        margin-bottom: 20px;
    }
   .OL{
    height: auto;
    padding-bottom: 150px;
   }
   .row2{
    margin-top: 100px;
    padding-bottom: 50px;
   }
    
}


@media only screen and (max-width : 1000px) {
    
    .card{
        height: 400px;
        width: 300px;
        border: 1px solid white;

    }
    .row1{
        flex-wrap: wrap;
    }
   .OL{
    height: auto;
   }
   .row2{
    flex-wrap: wrap;

   }
}
@media only screen and (max-width : 500px) {
    
    .card{
        height: 340px;
        width: 300px;
        border: 1px solid white;

    }
    .row1{
        flex-wrap: wrap;
    }
   .OL{
    height: auto;
   }
   .row2{
    flex-wrap: wrap;

   }
}

@media only screen and (max-width : 250px) {
    
    .card{
        height: 300px;
        width: 250px;
        border: 1px solid white;

    }
    .row1{
        flex-wrap: wrap;
    }
   .OL{
    height: auto;
   }
   .row2{
    flex-wrap: wrap;

   }
}
